@import
  url('https://fonts.googleapis.com/css?family=Caveat+Brush');

body,html {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: #cad2c5;
}

header {
	margin-top: 8%;
	margin-bottom: 4%;
	display: block;
	position: relative;
}

.wrapper {
  min-height: 100%;
  min-width: 100%;
  margin: 0 auto;
  padding: 0;
} 

.main {
  position: absolute;
  visibility: hidden;
  left: 12.5%;
  background: #cad2c5;
  opacity: 0;
  -webkit-transition: opacity 3s linear;
  -moz-transition: opacity 3s linear;
  -ms-transition: opacity 3s linear;
  -o-transition: opacity 3s linear;
  transition: opacity 3s linear;
}

.pt {
  background-color: #555555;
}

.murloc {
	font-family: Dael Calligraphy;
	font-size: 5em;
  padding-bottom: 0;
	color: #0a0a0a;
  opacity: 1;
  
}

p {
  font-family: 'Georgia', bold;
	color: #0a0a0a;
	font-size: 0.9em;
  -webkit-transition: font-size 2s ease-in;
  -moz-transition: font-size 2s ease-in;
  -ms-transition:  font-size 2s ease-in;
  -o-transition:  font-size 2s ease-in;
  transition:  font-size 2s ease-in;
}

p .footer {
	font-family: 'Georgia', normal;
  display: inline;
	color: #0a0a0a;
	font-size: 0.7em;

}

p .main{
  font-size: 0.8em;
  font-family: 'Georgia';
  display: inline;
}

.bigp {
	font-family: 'Georgia', regular;
	color: #555555;
	font-size: 2.5em;
	margin-top: 5%;
	margin-bottom: 5%;
}

div .currently, .previously {
	font-family: 'Georgia', bold;
  display: block;
	color: #004e64;
  padding: 2%;
  border: 1px;
  border-style: solid;
  min-height: 125px;
	font-size: 1em;
	margin-bottom: 3%;
	margin-top: 3%;
}

div .previously {
  border-right: 0;  
  border-top: 0;
}

div .currently {
  border-left: 0;  
  border-bottom: 0;
}

body p.currently, body p .previously {
   font-size: 0.8em;
}

a:link,
a:visited {
  text-decoration: none;
  display: inline;
  font-size: 1em ;
  border-bottom: 0 solid transparent;
  transition: 2s linear;
  transition: color 5s linear;
  white-space: nowrap;
  color: #1b4965;
}

a:hover {
  border-bottom: 1px solid #cad2c5;
  font-size: 1.1em;
  color: rgb(212,175,75);
}

.zoom:hover {
  font-size: 17.5px;
}

.zoomOut {
  font-size: 1px;
}

.mainFadein {
  visibility: visible;
  display: block;
  opacity: 1;
}

.fadein {
  visibility: visible;
  opacity: 1;
}

.fadeout {
  visibility: hidden;
  opacity: 0;
}

.white{
  background-color: #cad2c5;
  overflow: visible;
  visibility: visible;
}